certifi==2025.7.14
chromadb==1.0.20
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
fsspec==2025.7.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
itsdangerous==2.2.0
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
numpy==2.3.1
oauthlib==3.3.1
onnxruntime==1.22.1
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
oracledb==3.2.0
pandas==2.3.0
pillow==11.3.0
posthog==5.4.0
protobuf==6.31.1
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
python-docx==1.2.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.1.0
rpds-py==0.26.0
rsa==4.9.1
scikit-learn==1.7.0
scipy==1.16.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
splunk-sdk==2.1.0
streamlit==1.46.1
streamlit-lottie==0.0.5
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.22.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
typer==0.17.3
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
watchdog==6.0.0
watchfiles==1.1.0
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xxhash==3.5.0
zipp==3.23.0
zstandard==0.23.0
werkzeug
psycopg
psycopg-binary
sqlalchemy
langchain==0.3.27 
langchain-community==0.3.31 
langchain-core==0.3.79 
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
openai-agents==0.4.2
pymongo
paramiko
fastapi
openai-agents[litellm]
flask_jwt_extended
PyMuPDF
playwright
matplotlib
apscheduler
pydantic[email]
python-keycloak
playwright